/* TODO: verdeel al dit css in meerdere files voor duidelijkheid */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   color: black;
   font-family: "Roboto", sans-serif;
}
html {
   height: 100vh;
}

.margin-container {
   margin-left: 1rem;
   margin-right: 1rem;
}
body {
   /* background-image: url("../img/EJzyxsCCQOeRa71a83tX_background-2.jpeg");*/
   background-color: #c3d7f7 !important;
}
#title {
   padding-bottom: 0.5rem;
   /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
   /* background-color: #e6eefa; */
}
#board {
   /* display: flex;
   flex-wrap: wrap;
   width: 100%; */
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   width: fit-content;
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
   justify-content: center;
   flex: 1;
   height: 85vh;
   padding: 0.5rem;
    /* align-content: center; */
}
.inactive {
   pointer-events: none;
   box-shadow: inset 0 0 0 999em rgba(0,0,0,0.5), 1px 2px 10px rgba(0, 0, 0, 0.5) !important;
}
h1 {
   text-align: center;
   font-size: 3em;
}
.restart-container {
   text-align: center;
   margin-bottom: 1rem;
}
#restart {
   padding-left: 2rem;
   padding-right: 2rem;
} 
#turn-text {
   text-align: center;
   color: black;
   font-size: 3em;
}
.hidden {
   display: none !important;
}
#flex-board {
   display: flex;
   justify-content: center;
}
.item {
   flex: 1 0 calc(100% / 8);
   padding: 4rem;
   margin: 0.7rem;
   border-radius: 69%;
   border: black 1px solid;
   background-color: rgba(255, 255, 255, 0);
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
   position: relative;
   
}
.player-one-turn {
   box-shadow: 0 4px 16px rgb(57, 87, 255) !important;
}
.player-two-turn {
   box-shadow: 0 4px 16px rgb(255, 62, 62) !important;
}
.form-container {
   display: flex;
   justify-content: center;
}
.flex-stats {
   display: flex;
   justify-content: center;
}
.statistics {
   margin-top: 20%;
}
.stat-shadow {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 2rem;
   border-radius: 6%;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
   /* background-color: white; */
}
.player-name, .player-wins {
   margin: 0;
}
.form-window {
   text-align: center;
   padding: 2rem;
   margin: 3rem;
   border-radius: 1rem;
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
#result-window {
   position: fixed !important;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   /* width: 25rem; */
   z-index: 6969;
   padding: 3rem;
   background-color: #c3d7f7 !important;
   box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5), 0 0 0 999em rgba(0,0,0,0.8);
   opacity: 0.9;
   /* box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5); */
}

#online-buttons {
   margin-bottom: 1rem;
}
#rooms-list {
   overflow-y: auto;
   max-height: 15rem;
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
   /* background-color: #e4eeff; */
}
.room {
   flex: 1 1 50%;
   margin: 1rem;
   padding-bottom: 1.1rem;
   border-bottom: 2px solid gray;
}
.info-col {
   padding: 0;
   flex: 4 !important;
   margin: 0.5rem !important;
   margin-top: 10rem;
   text-align: left;
   border-right: 1px solid gray;
}
.info-col > p {
   margin: 0;
}
.play-button-col {
   flex: 1 !important;
}
.join-button-col {
   margin: 0;
}
#join-button {
   width: 100%;
   height: 100%;
   border: none;
   background-color: #198754be;
}
#join-button:hover {
   background-color: #157347be;
}
.enter-icon {
   width: 100%;
   height: 70%;
}
#online-button {
   padding: 0.4rem;
   border-radius: 0.5rem;
   border: none;
   background-color: #2226ff;
}
#online-button:hover {
   background-color: #0e12ff;
}
.menu-icon {
   width: 2rem;
}
.icon {
   pointer-events: none;
}
.loading-icon {
   height: 5rem;
}
.waiting-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.player-list {
   padding: 1rem;
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
.player-info {
   padding: 0.5rem;
   margin: 1rem;
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

/* small screens */
@media only screen and (max-width: 600px) {
   .form-window {
      width: 100%;
   }
   #board {
      height: 40vh;
   }
   .item {
      /* width: 2.2rem;
      height: 2.2rem; */
      padding: 0;
      margin: 0.2rem;
      border: black 2px solid;
   }
   
   #result-window {
      display: flex;
      flex-direction: column;
      width: 18rem;
      padding: 2rem;
   }
   #turn-text {
      font-size: 1.5em;
   }
   #flex-stats-1 {
      order: 1;
      flex: 1 1 50%;
   }
   #flex-stats-2 {
      order: 2;
      flex: 1 1 50%;
   }
   .stat-shadow {
      padding: 1em;
      /* min-width: 12rem; */
   }
   #flex-game {
      order: 3;
      flex: 1 1 100%;
   }
   .statistics {
      margin: 0;
      flex: 1;
   }
   .player-one-stats {
      margin-bottom: 1rem;
   }
}
/* medium screens */
@media only screen and (min-width: 600px) and (max-width: 992px) {
   .form-window {
      width: 100%;
   }
   #board {
      height: 60vh;
   }
   .item {
      /* width: 4.2rem;
      height: 4.2rem; */
      padding: 0;
      margin: 0.2rem;
      border: black 2px solid;
   }
   #result-window {
      display: flex;
      flex-direction: column;
      width: 18rem;
      padding: 2rem;
   }
   #turn-text {
      font-size: 2em;
   }
   #flex-stats-1 {
      order: 1;
      flex: 1 1 50%;
   }
   #flex-stats-2 {
      order: 2;
      flex: 1 1 50%;
   }
   .stat-shadow {
      padding: 1em;
      min-width: 12rem;
   }
   #flex-game {
      order: 3;
      flex: 1 1 100%;
   }
   .statistics {
      margin-top: 1rem;
      flex: 1;
   }
   .player-one-stats {
      margin-bottom: 1rem;
   }
   .stat-shadow {
      padding: 1em;
      /* min-width: 18rem; */
   }
}
/* big screens */
@media only screen and (min-width: 992px) {
   .form-window {
      width: 30%;
   }
   .item {
      /* width: 5.2rem;
      height: 5.2rem; */
      padding: 0;
      margin: 0.2rem;
   }
   #result-window {
      display: flex;
      flex-direction: column;
      width: 18rem;
      padding: 2rem;
   }
   #turn-text {
      font-size: 2em;
   }

   .stat-shadow {
      padding: 1em;
      min-width: 1rem;
   }
   .statistics {
      margin-top: 1rem;
      flex: 1;
   }
   .player-one-stats {
      margin-bottom: 1rem;
   }
   .stat-shadow {
      padding: 1em;
      /* min-width: 18rem; */
   }
}

#rematch {
   color: white;
}