* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   color: black;
   
}
/* #shadow-overlay {
   background-color: rgba(0, 0, 0, 0.842) !important;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 6900 !important;
   visibility: visible;
   pointer-events: none;
} */
/* .overlay-content { */
   /* visibility: visible; */
   /* position: relative; */
   /* background-color: white !important; */
   /* z-index: 7000 !important;  */
   /* display: flex !important; */
   /* pointer-events: all; */
/* }   */
body {
   /* background-image: url("../img/EJzyxsCCQOeRa71a83tX_background-2.jpeg");*/
   background-color: #c3d7f7 !important;
}
#title {
   padding-bottom: 0.5rem;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
   background-color: #e6eefa;
}
#board {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}
.inactive {
   pointer-events: none;
}
h1 {
   text-align: center;
   font-size: 3em;
}
.restart-container {
   text-align: center;
   margin-bottom: 1rem;
}
#restart {
   padding-left: 2rem;
   padding-right: 2rem;
} 
#turn-text {
   text-align: center;
   color: black;
   font-size: 3em;
}
.hidden {
   display: none;
}
#board {
   display: flex;
   flex-flow: wrap;
   justify-content: center;
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
   width: 80rem;
}
#flex-board {
   display: flex;
   justify-content: center;
}
.item {
   flex: 1 0 calc(100% / 8);
   padding: 4rem;
   margin: 0.7rem;
   border-radius: 69%;
   border: black 3px solid;
   background-color: rgba(255, 255, 255, 0);
   position: relative;
}
.margin-container {
   margin-left: 2rem;
   margin-right: 2rem;

}

.form-container {
   display: flex;
   justify-content: center;
}
.flex-stats {
   display: flex;
   justify-content: center;
}
.statistics {
   margin-top: 20%;
}
.stat-shadow {
   padding: 2rem;
   border-radius: 10%;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
   /* background-color: white; */
}
.player-name, .player-wins {
   display: block;
}
#start-window {
   width: 70%;
   padding: 2rem;
   margin: 3rem;
   border-radius: 1rem;
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}
#result-window {
   position: fixed !important;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   /* width: 25rem; */
   z-index: 6969;
   padding: 3rem;
   background-color: #c3d7f7 !important;
   box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5), 0 0 0 999em rgba(0,0,0,0.8);
   /* box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5); */
}
/* input {
   color: black;
} */


input[type=text] {
   /* background-color: rgba(0, 0, 0, 0); */
}
#play-again {
   color: white;
}
/* 
voor slecht dark mode 
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   font-style: italic;
   background-color: black;
   color: white;
}
*/