/* TODO: verdeel al dit css in meerdere files voor duidelijkheid */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   color: black;
   font-family: "Asap Condensed", "Montserrat", "Roboto", sans-serif;
   font-size: 105%;
}
html {
   height: 100vh;
}
.margin-container {
   margin-left: 1rem;
   margin-right: 1rem;
}
body {
   /* background-image: url("../img/EJzyxsCCQOeRa71a83tX_background-2.jpeg");*/
   background-color: #c3d7f7 !important;
}
#title {
   padding-bottom: 0.5rem;
}
#board {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   width: fit-content;
   border-radius: 1rem;
   justify-content: center;
   flex: 1;
   height: 82vh;
   padding: 0.7rem;
   border-style: inset;
   border-bottom-color: rgba(255, 54, 54, 0.4);
   border-right-color: rgba(255, 54, 54, 0.4);
   border-left-color: rgba(43, 117, 255, 0.4);
   border-top-color: rgba(43, 117, 255, 0.4);
}
.item {
   flex: 1 0 calc(100% / 8);
   padding: 4rem;
   margin: 0.7rem;
   border-radius: 69%;
   background-color: rgba(255, 255, 255, 0.2);
   position: relative;
}
.placed-red {
   background-color: rgba(255, 54, 54, 0.85);
}
.placed-blue {
   background-color: rgba(43, 117, 255, 0.85);
}
.inactive {
   pointer-events: none;
   box-shadow: inset 0 0 0 999em rgba(0,0,0,0.1) !important;
}
h1 {
   text-align: center;
   font-size: 3em;
} 
#stop {
   border-radius: 1rem;
   margin-bottom: 1rem;
}
#restart {
   padding-left: 2rem;
   padding-right: 2rem;
} 
#turn-text {
   text-align: center;
   color: black;
   font-size: 3em;
}
.hidden {
   display: none !important;
}
#flex-board {
   display: flex;
   justify-content: center;
}

.player-one-turn {
   box-shadow: 0 1px 8px rgb(43, 117, 255) !important;
}
.player-two-turn {
   box-shadow:0 1px 8px rgb(255, 137, 137) !important;
}
.form-container {
   display: flex;
   justify-content: center;
}
.flex-stats {
   display: flex;
   justify-content: center;
}
.statistics {
   margin-top: 20%;
}
.stat-shadow {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 2rem;
   border-radius: 1rem;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}
.player-name, .player-wins {
   margin: 0;
}
.form-window {
   text-align: center;
   margin-top: 3rem;
   border-width: 0.3rem;
   border-radius: 1rem;
   border-style: inset;
   border-color:rgba(43, 117, 255, 0.4) rgba(255, 54, 54, 0.4) rgba(255, 54, 54, 0.4) rgba(43, 117, 255, 0.4);
   padding: 0;
}
.content {
   padding: 2rem;
}
.button-collection {
   display: flex;
   flex-direction: row;
}
.button-collection button:first-child {
   border-bottom-left-radius: calc(1rem - 0.3rem);
}
.button-collection button:last-child {
   border-bottom-right-radius: calc(1rem - 0.3rem);
}
.icon-button {
   padding: 0.4rem;
   border: none;
   background-color: rgba(0, 0, 0, 0.05);
   transition: background-color 0.5s ease;
   width: 100%;
}
.icon-button:hover {
   background-color: rgba(0, 0, 0, 0.1);
}
.icon-button:hover .icon {
   opacity: 0.9;
}
.menu-icon {
   width: 3rem;
}
.icon {
   pointer-events: none;
   opacity: 0.6;
   transition: opacity 0.5s ease;
}
#retry-icon {
   width: 2.2rem;
}
#result-window {
   position: fixed !important;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   z-index: 6969;
   background-color: #c3d7f7 !important;
   box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5), 0 0 0 999em rgba(0,0,0,0.8);
   opacity: 0.92;
   border-radius: 1rem;
}

#online-buttons {
   margin-bottom: 1rem;
}
.room-row {
   display: flex;
   flex-direction: row;
}
#rooms-list {
   /* padding: 0.5rem; */
   overflow-y: auto;
   max-height: 15rem;
   background-color: #c3d7f7;
}
.room {
   background-color: #cedef8 !important;
   border-radius: 0.5rem;
}
.room:not(:first-child) {
   margin-top: 0.5rem;
}
.info-col {
   flex: 4 !important;
   padding: 0.5rem;
   text-align: left;
}
.info-col > p {
   margin: 0;
}
.play-button-col {
   flex: 1 !important;
}
.join-button-col {
   margin: 0;
   padding: 0;
}
#join-button {
   height: 100%;
   border-top-right-radius: 0.5rem;
   border-bottom-right-radius: 0.5rem;
}
.green-hover:hover {
   background-color: rgba(33, 196, 120, 0.4) !important;
}
.red-hover:hover {
   background-color: rgba(235, 55, 32, 0.4) !important;
}
.blue-hover:hover {
   background-color: rgba(28, 171, 236, 0.4) !important;
}
.loading-icon {
   height: 5rem;
}
.player-list {
   overflow-y: auto;
   max-height: 15rem;
   padding: 1rem;
}
.player-info {
   border-bottom: 1px solid black;
   padding: 0.5rem;
}
footer {
   position: fixed;
   bottom: 0;
   left: 0;
   padding: 1rem;
   width: 100%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.05) !important;
}
#footer-text {
   padding: 0;
   margin: 0;
   /* font-weight: bolder; */
}
/* small screens */
@media only screen and (max-width: 600px) {
   .form-window {
      width: 90%;
   }
   #board {
      height: 40vh;
   }
   .item {
      padding: 0;
      margin: 0.2rem;
      border: black 2px solid;
   }
   
   #result-window {
      display: flex;
      flex-direction: column;
      width: 18rem;
   }
   #turn-text {
      font-size: 1.5em;
   }
   #flex-stats-1 {
      order: 1;
      flex: 1 1 50%;
   }
   #flex-stats-2 {
      order: 2;
      flex: 1 1 50%;
   }
   .stat-shadow {
      padding: 1em;
   }
   #flex-game {
      order: 3;
      flex: 1 1 100%;
   }
   .statistics {
      margin: 0;
      flex: 1;
   }
   .player-one-stats {
      margin-bottom: 1rem;
   }
}
/* medium screens */
@media only screen and (min-width: 600px) and (max-width: 992px) {
   .form-window {
      width: 90%;
   }
   #board {
      height: 60vh;
   }
   .item {
      /* width: 4.2rem;
      height: 4.2rem; */
      padding: 0;
      margin: 0.2rem;
      border: black 2px solid;
   }
   #result-window {
      display: flex;
      flex-direction: column;
      width: 18rem;
   }
   #turn-text {
      font-size: 2em;
   }
   #flex-stats-1 {
      order: 1;
      flex: 1 1 50%;
   }
   #flex-stats-2 {
      order: 2;
      flex: 1 1 50%;
   }
   .stat-shadow {
      padding: 1em;
      min-width: 12rem;
   }
   #flex-game {
      order: 3;
      flex: 1 1 100%;
   }
   .statistics {
      margin-top: 1rem;
      flex: 1;
   }
   .player-one-stats {
      margin-bottom: 1rem;
   }
   .stat-shadow {
      padding: 1em;
      /* min-width: 18rem; */
   }
}
/* big screens */
@media only screen and (min-width: 992px) {
   .form-window {
      width: 40%;
   }
   .item {
      /* width: 5.2rem;
      height: 5.2rem; */
      padding: 0;
      margin: 0.2rem;
   }
   #result-window {
      display: flex;
      flex-direction: column;
      width: 18rem;
   }
   #turn-text {
      font-size: 2em;
   }

   .stat-shadow {
      padding: 1em;
      min-width: 1rem;
   }
   .statistics {
      margin-top: 1rem;
      flex: 1;
   }
   .player-one-stats {
      margin-bottom: 1rem;
   }
   .stat-shadow {
      padding: 1em;
      /* min-width: 18rem; */
   }
}

#rematch {
   color: white;
}